$pc_m: 1366px;
$pc: 768px;
$sp: 767px; // SP
$resp: 375px; // SP

@mixin pc {
    @media (max-width: ($pc_m)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 1px;
  @include pc {
      font-size: 0.0732064421669107vw;
  }
  @include sp {
    font-size: 0.2666666666666667vw;
  }
}
  
  a {
    text-decoration: none !important;
  }

body::-webkit-scrollbar{
    display: none;
}

.middleImg {
    width: 100vw;
    height: auto;
    cursor: grab;
    z-index: 0;
}

.topView{
    position:relative;
    width:100vw;
    height:100vh;
    margin:auto;
}

#content {
    width: 100vw;
    height: auto;
    position: absolute;
    transform: scale(2);
    transform-origin: 0 0;
    transition: transform 0.5s ease-out;
}

.contents{
    position:relative;
    height: auto;
    overflow:hidden;
}

.first-view-aria-image{
    width:35%;
    height:40%;

    border:solid black 5px;
    position:absolute;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    z-index:9
}

.leftSide{
    position:absolute;
    width:25%;
    height:auto;
    background:red;
    left: 0;
    top:0;
    z-index: 44;
}

.leftSide img {
    width: 100%;
    height: auto;
}

.rightSide{
    position:absolute;
    width:25%;
    height:auto;
    background:green;
    top:0;
    right:0;
    z-index:9;
}

.rightSide img {
    width: 100%;
    height: auto;
}

.kirinuki{
    position:absolute;
    top:10%;
    left:-50%;
    z-index:9999;
}

#zoom-in-button{
    position: fixed;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    bottom: 20px;
    left: 65px;
    z-index: 9999;
    width: 40px;
    height: 40px;
}

#zoom-out-button {
    position: fixed;
    background-color: black;
    border: none;
    color: white;
    opacity: 0.7;
    border-radius: 3px;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    width: 40px;
    height: 40px;
}

input {
    position: fixed;
    width: 100rem;
    height: 30rem;
    top: 50rem;
    left: 30rem;
    border: none;
    border-radius: 3rem;
    z-index: -2;
}

input:focus {
    outline: none;
}

.initalScale_button {
    position: fixed;
    width: 50rem;
    height: 30rem;
    top: 50rem;
    left: 140rem;
    font-size: 16rem;
    border: none;
    border-radius: 3rem;
    background-color: black;
    color: white;
    z-index: -55;
}